<div class="text">
<p class="title">Guide to Open Access</p>
<p>Use this guide to get to know a standard procedure for Open Access publication of research articles.</p>
<p class="subtitle">Save your revisions</p>
<p>Save your preprint and postprint. This will give you more possibilities for making your articles Open Access.</p>
<p class="subtitle">Funding</p>
<p>If you apply for funding for your research then make an entry in the budget for publishing. Open Access publishing
might require a fee. It is also worth paying attention to the fact that many funders today demand that research is
made Open Access.</p>
<p class="subtitle">Copyright</p>
<p>Get to know your rights and read your contract and copyright transfer agreement thoroughly.</p>
<p class="subtitle">Golden Open Acccess</p>
<p>Golden Open Access is when you publish your article in a purely Open Access journal.</p>
<p class="subtitle">Green Open Access</p>
<p>Green Open Access is when you publish in a traditional journal and your scientific article following is made avaible
online for free e.g. by being uploaded in a repository.</p>
</div>
<div class="image">
	<%=image_tag("guide_oa_onlytimeline_eng2.png") %>
</div>
