<footer>
	<div class="contact">
		<p class="footer-title">CONTACT</p>
		<p>Project coordinator</p>
		<p>Mikael K. Elbæk, DTU Library</p> 
 		<p>miel@dtic.dtu.dk</p>
	</div>
	<div class="sponsor">
		<p class="footer-title">SPONSOR</p>
		<p>The Danish Open Access Barometer is a project sponsored by DEFF </p>
		<%=image_tag("deff_logo.png") %>
		<p>Project participants includes:</p>
		<p>
		Copenhagen University Library,
		University Library of Southern Denmark,
		Roskilde University
		Library and DTU Library</p>
	</div>
	<div class="copyright">
		<p class="footer-title">COPYRIGHT</p>
		<p>Currently all rights are reserved. But we are working on publishing our results under a more liberal license that allows re-use i.e. Creative Commons license. </p>
	</div>
	<div class="datafacts">
		<p class="footer-title">DATA FACTS</p>
		<p>The Danish Open Access Barometer is based on data from: <a href="http://fivu.dk/forskning-og-innovation/statistik-og-analyser/den-bibliometriske-forskningsindikator">BFI (Bibliometric research indicator)</a>, the <a href="http://www.forskningsdatabase.dk/">Danish National Research Database</a>, <a href="http://www.sherpa.ac.uk/romeo/">SHERPA/ROMEo</a> and Directory of Open Access Journals</p>
	</div>
</footer>
