<footer>
	<div class="contact">
		<a id="about_link" href="#about_popup">CONTACT</a>
		<p>APSDKA SJD ALSKJDLj dajflkads asdlka bla</p>
	</div>
	<div class="sponsor">
		<a id="about_link" href="#about_popup">SPONSOR</a>
		<p>The Danish Open Access Barometer is a project sponsored by DEFF,</p>
		<p>Thanks to the participating universities bla bla bla</p>
	</div>
	<div class="copyright">
		<a>COPYRIGHT</a>
		<p>All material here is licensed by asjkdhask  dahskjds ahkjd and can therefore be used by alskdjsakdjsalk</p>
	</div>
	<div class="datafacts">
		<a>DATA FACTS</a>
		<p>kajsd jsal dj lksjak ælæadjlk dfalsdlk asadlkjl</p>
	</div>
</footer>
<!--
<table>
	<tr>
		<td>
			<a id="contact_link" href="#contact_popup">Contact</a>
			<p>kljhgpå poåi hgv</p>
		</td>
		<td>
			<a id="about_link" href="#about_popup">SPONSOR</a>
			<p>The Danish Open Access Barometer is a project sponsored by DEFF,</p>
			<p>Thanks to the participating universities bla bla bla</p>
		</td>
		<td>
			<a>COPYRIGHT</a>
			<p>All material here is licensed by asjkdhask  dahskjds ahkjd and can therefore be used by alskdjsakdjsalk</p>
		</td>
		<td><a id="thanks_link" href="#thanks_popup">Thanks to</a></td>
	</tr>
</table>
-->
<div id="popups">
	<div id="contact_popup" style="width: 750px; height: 500px;">
		<h1>Contact</h1>
		<p>Place some text/html here....</p>
	</div>
	<div id="about_popup" style="width: 750px; height: 500px;">
		<h1>About</h1>
		<p>Place some text/html here....</p>
	</div>
	<div id="thanks_popup" style="width: 750px; height: 500px;">
		<h1>Thanks to</h1>
		<p>Place some text/html here....</p>
	</div>
</div>
<script>
	$(document).ready(function(){
		$("#contact_link").colorbox({
			inline:true, width:"800px"
		});
		$("#about_link").colorbox({
			inline:true, width:"800px"
		});
		$("#thanks_link").colorbox({
			inline:true, width:"800px"
		});
	});
</script>
