// Place all the styles related to the Barometer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.node {
  font: 10px sans-serif;
  circle {
    fill: #fff;
    stroke: #336666;//steelblue;
    stroke-width: 1.5px;
  }
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/**/
html,
body {
   margin:0;
   padding:0;
   height:100%;
   //font-family: "Franklin Gothic Medium";
   font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
   background: #CCE6FF;//#6D869F; //#ccffff;//#cccccc;// url(../images/beige_paper.png) repeat top left;
   color: #336666;
}
#container {
   min-width:100%;
   min-height:100%;
   position:relative;
   color:#336666;
}

.slider-overlay {
  position:absolute;
  width: 1020px;
  height: 550px;
  img {
    display:none;
  }
  .bx-wrapper {
  margin-left: 5px !important;
  position: absolute !important;
  width: 1010px !important;
  .bx-viewport {
    z-index: -1 !important;
    background: none !important;// repeat scroll 0 0 #FFFFFF;
    border: 0px !important;// solid #FFFFFF;
    box-shadow: 0 0 0px #CCCCCC !important;
    height: 560px !important;
  }
  //.bx-controls-direction {
    //margin-top: 290px !important;
  //}
}

}

.container-overlay{
  //display:none;
  position:absolute;
  width: 1020px;
  //width:1020px;
  //margin: 0 auto;
  .overlay-header{
    //color: #336666;
    margin-top: 65px;
    margin-left: 270px;
    font-size: 26pt;
    font-weight: bold;
  }
  .overlay-left{    font-weight: bold;
    line-height: 20pt;
    margin-left: 65px;
    margin-top: 80px;//125px;
    width: 250px;
    height: 350px;
    p {
      margin-top:25px;
      font-weight: normal;
      font-size: 10pt;
      line-height: 15pt;
    }
  }
  .overlay-right {
    float: right;
    font-weight: bold;
    line-height: 20pt;
    margin-right: 75px;
    margin-top: 155px;//300px;
    text-align: center;
    width: 250px;
  }
}
#page-header {
   background: #B8DBFF;//#9BB4CD;//#78C7C2; //#94D4E9;//#ACD6FF;//#99ccff;//#FFA500;
   padding:25px;//60px;
   margin-top: -20px; //TODO: remove this... make it work some other way...
   //box-shadow: 0px 10px 5px #FFA500;//#EEDD82;//#888888;
   #headerImage {
     margin: 0 auto;
     width:1020px;
   }
}
#page {
   width: 1020px;
   height: 830px;
   padding-top:10px;
   //padding:10px;
   padding-bottom:75px;   /* Height of the footer */
   margin: 0 auto;
}
#page-footer {
   position:absolute;
   //bottom:0;
   width:100%;
   //height:75px;   /* Height of the footer */
   //padding:10px;
   background:#69ADAD;//#439999;//#7FCCCC;//5FBFBF;//#33cccc;//#99ccff;//#FFA500;
   //box-shadow: 0px -10px 5px #FFA500;//#EEDD82;//#888888;
   padding-top: 20px;
   padding-bottom: 50px;
   margin-top: 10px;
   footer {
     width:1020px;
     margin: 0 auto;
     div {
      text-align: left;
      font-weight: none;
      font-size: 10pt;
      color:#336666;
      float: left;
      width: 225px;
      margin-right: 35px;
      a{
        font-weight:bold;
        color:#336666;
      }
     }
     div.datafacts{
       float:right;
       margin-right: 0px;
     }
   }
}
#popups{
  display:none;
}
/**/
// #page-header {
  // //border-bottom: 2px solid;
  // box-shadow: 0px 10px 5px #888888;
  // padding-bottom: 10px;
  // margin-bottom: 10px;
  // height: 100px;
// }
// #page-footer {
  // box-shadow: 0px 10px 5px #888888;
  // padding-top: 10px;
  // margin-top: 10px;
  // height: 100px;
// }
// #page {
  // margin: 0 auto;
  // width: 1020px;
// }

#navigation{
  //font-family: "Franklin Gothic";
  font-family: "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  margin: 0 auto;
  width: 1020px;
  float:left;
}
#content-wrapper {
  margin: 25px auto 0;
  width: 1020px;//width: 800px;
  float: left;
  background-color: #FFFFFF;
  //border: 2px solid;
  //border-radius: 25px;
  #content-selector-universities {
    margin-bottom: -2px;//-10px;
    margin-left: 10px;
    margin-top: 2px;//10px;
    position: absolute;
    z-index: 1000;
    display:none;
  }
  #content-selector {
    margin-bottom: -2px;//-10px;
    margin-left: 10px;
    margin-top: 2px;//10px;
    position: absolute;
    z-index: 1000;
    display:none;
  }
  #sub-selector-topic{
    display:none;
  }
  .sub-selector{
    margin-bottom: -2px;//-10px;
    margin-left: 130px;
    margin-top: 2px;//10px;
    position: absolute;
    z-index: 1000;
    display:none;
  }
}
.visualization{
  min-width: 1020px;//800px;
  max-width: 1020px;//800px;
  height: 600px;
  margin: 0 auto;
}
#svgCanvas,#canvas{
  display: block;
  margin: 25px auto 0;
}
// Flat menu
nav {
  margin: 100px 80px 0 auto;
  width: 1000px;
}
span.ca-icon {
  font-size: 40px !important;
  line-height: 100px !important;//135px
  color: #336666 !important;
}
.ca-menu li{
    width: 200px;
    height: 200px !important;//250px
    color: #336666 !important;
}
h2.ca-main {
  font-size: 22pt !important;//22px
  color: #336666 !important;
}
h2.ca-sub {
  font-size: 16pt !important;//22px
  color: #336666 !important;
}